<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.youxianji.dao.IGroupbuyDAO" >
  <resultMap id="BaseResultMap" type="com.youxianji.pojo.Groupbuy" >
    <id column="groupbuy_id" property="id" jdbcType="VARCHAR" />
    <result column="groupbuy_begintime" property="begintime" jdbcType="TIMESTAMP" />
    <result column="groupbuy_endtime" property="endtime" jdbcType="TIMESTAMP" />
    <result column="groupbuy_state" property="state" jdbcType="CHAR" />
  </resultMap>
  <select id="getGroupbuyByDate" resultMap="BaseResultMap" >
    SELECT groupbuy_id,groupbuy_begintime, groupbuy_endtime, groupbuy_state
    FROM yxj_user_groupbuy
    WHERE groupbuy_state='1' 
    AND groupbuy_begintime <![CDATA[<]]> SYSDATE()
    AND groupbuy_endtime <![CDATA[>]]> SYSDATE()
  </select>
   <select id="findGroupbuyById" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select groupbuy_id,groupbuy_begintime, groupbuy_endtime, groupbuy_state
    from yxj_user_groupbuy
    where groupbuy_id=#{0}
  </select>
</mapper>