<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.youxianji.dao.IProdDetailInfoDAO" >
	
	<resultMap id="ProdDetailInfoResultMap" type="com.youxianji.pojo.ProdDetailInfo" >
	    <id column="detailId" property="detailId" jdbcType="VARCHAR" />
    	<result column="textString" property="textString" jdbcType="VARCHAR" />
  	</resultMap>
  
  	 <sql id="Base_Column_List" >
         pd.detailId,pd.textString
	 </sql>
	   	 
</mapper>