<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.youxianji.dao.ISubStoreInfoDAO" >
	
	<resultMap id="SubStoreInfoResultMap" type="com.youxianji.pojo.SubStoreInfo" >
    	 <id column="storeid" property="storeid" jdbcType="VARCHAR" />
   		 <result column="storename" property="storename" jdbcType="VARCHAR" />
    	 <result column="longitude" property="longitude" jdbcType="VARCHAR" />
   		 <result column="latitude" property="latitude" jdbcType="VARCHAR" />
    	<result column="radius" property="radius" jdbcType="INTEGER" />
    	<result column="remark" property="remark" jdbcType="VARCHAR" />
  	</resultMap>
  	
  	<select id="findList" resultType="com.youxianji.pojo.SubStoreInfo">
  	   select * from SubStoreInfo where state='1'
  	</select>
  	
  	<select id="findListInArea" parameterType="java.lang.String" resultType="com.youxianji.pojo.SubStoreInfo">
  	   select * from SubStoreInfo
  	     where state='1'
  	     and northlatitude>=#{0} and southlatitude<![CDATA[<=]]>#{0}
  	     and eastlongitude>=#{1} and westlongitude<![CDATA[<=]]>#{1}
  	</select>
  	
  	
  	
</mapper>