<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.youxianji.dao.IUserInfoDAO" >
	
	<resultMap id="UserInfoResultMap" type="com.youxianji.pojo.UserInfo" >
    	<id column="userId" property="userId" jdbcType="VARCHAR" />
    	<result column="userName" property="userName" jdbcType="VARCHAR" />
   		 <result column="telephone" property="telephone" jdbcType="VARCHAR" />
   		 <result column="loginpass" property="loginPass" jdbcType="VARCHAR" />
   		 <result column="paypass" property="payPass" jdbcType="VARCHAR" />
    	<result column="isMember" property="isMember" jdbcType="CHAR" />
   		<result column="amount" property="amount" jdbcType="DECIMAL" />
    	<result column="state" property="state" jdbcType="CHAR" />
    	<result column="remark" property="remark" jdbcType="VARCHAR" />
    	<result column="isfreshman" property="isfreshman" jdbcType="CHAR" />
    	<result column="isOnecent" property="isOnecent" jdbcType="CHAR" />
    	<result column="memrebate" property="memRebate" jdbcType="DECIMAL" />
    	<result column="createTime" property="createTime" jdbcType="DATE" />
    	<result column="deviceNo" property="deviceNo" jdbcType="VARCHAR" />
        <result column="usertype" property="usertype" jdbcType="CHAR" />
    	
  	</resultMap>
  
	<sql id="user_Column_List" >
    	userId, userName, telephone, isMember,state, amount, deviceNo,paypass,isfreshman,isOnecent,usertype
  	</sql>
  	<select id="validateUser" resultMap="UserInfoResultMap">
  		select 
	    <include refid="user_Column_List" />
	    from userInfo
	    where state='1' and userid = #{0}
  	</select>

 	<select id="getUserInfoByTelephone" resultMap="UserInfoResultMap" parameterType="java.lang.String" >
    	select 
   		<include refid="user_Column_List" />
   		from userinfo
  			  where telephone = #{telephone} and state='1'
    </select>
  
    <select id="getById" resultMap="UserInfoResultMap" parameterType="java.lang.String" >
    	select 
   		<include refid="user_Column_List" />
   		from userinfo
  			  where userid = #{userId} and state='1'
    </select>
	
	<select id="getUserInfoByUseridAndTelephone" resultType="java.util.HashMap">
    	select count(a.couponid) as couponcount,b.userid,b.amount  
    		from couponuseinfo a,userinfo b  
    	where a.userid = #{0} and b.telephone = #{1} and a.userid = b.userid
    	and a.state='1'
    </select>
	
   	<insert id="insertUser" parameterType="com.youxianji.pojo.UserInfo">
  	     insert into userinfo (userId,telephone,isMember,amount,state,memRebate,deviceNo,createTime,isfreshman,isOnecent)
  	         values(#{userId},#{telephone},#{isMember},#{amount},#{state},#{memRebate},#{deviceNo},#{createTime},#{isfreshman},#{isOnecent})
  	</insert>
   	
   	<update id="updateUser" parameterType="com.youxianji.pojo.UserInfo" >
	    update userinfo
	    <set >
	      <if test="telephone != null" >
	        telephone = #{telephone,jdbcType=VARCHAR},
	      </if>
	      <if test="isMember != null" >
	        isMember = #{isMember,jdbcType=VARCHAR},
	      </if>
	      <if test="createTime != null" >
	        createTime = #{createTime},
	      </if>
	       <if test="isfreshman != null" >
	        isfreshman = #{isfreshman},
	      </if>
	      <if test="isOnecent != null" >
	        isOnecent = #{isOnecent},
	      </if>
	     
	    </set>
	    where userId=#{userId} 
  	</update>
  	
  	<insert id="insertWechatId" parameterType="java.lang.String">
  		insert into wechatuserinfo(wetchid,openid,userid) values(#{0},#{2},#{1})
  	</insert>
  	
</mapper>